services:
  app:
    container_name: ddns-cloudflare
    build:
      dockerfile: dockerfile
    environment:
      - API_TOKEN=YOURAPITOKEN
      - NAME=NAMETOUPDATE
      - ZONE=CLOUDFLAREZONEID
    restart: unless-stopped
