services:
  app:
    container_name: ddns-cloudflare
    build:
      dockerfile: dockerfile
    ports:
      - "8031:5000"
    environment:
      - API_TOKEN=YOURAPITOKEN
      - NAME=NAMETOUPDATE
      - ZONE=CLOUDFLAREZONEID
      - USERNAME=USERNAME
      - PASSWORD=PASSWORD
    restart: unless-stopped
